name: Build Image

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build & Push
    timeout-minutes: 60
    permissions:
      packages: write
      contents: read
    strategy:
      matrix:
        include:
        - pg_version: '17'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          build-args: GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ github.sha }}, ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ matrix.pg_version }}
          file: Dockerfile
